[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
sqlalchemy = "*"
langchain-core = "*"
dotenv = "*"
langchain-openai = "*"
langgraph = "*"
google-cloud-secret-manager = "*"
slack-sdk = "*"

[dev-packages]
black = "*"
isort = "*"
autoflake = "*"
ruff = "*"
mypy = "*"
pre-commit = "*"
sops = "*"
age = "*"
pytest = "*"

[requires]
python_version = "3.13"
